* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style: none;
}
nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: rgb(37, 37, 37);
  color: #fff !important;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

main {
  padding: 1rem;
  ol {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    li {
      background-color: #fff;
      border: 1px solid rgb(37, 37, 37);
      padding: 1rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        text-transform: uppercase;
      }
      a {
        padding: 0.5rem;
        background-color: rgb(37, 37, 37);
        display: flex;
        align-items: center;
        svg {
        }
      }
    }
  }
}
